.container {
  height: 100vh;
  width: 100%;
  /* background-image: url('/public/images/loader.png'); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.Input {
  width: 50vw;
  height: 10vw;
  max-height: 25em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 1em;
  font-family: 'Montserrat';
  /* box-shadow: 1em 0.5em 1em var(--color1); */
  background-color: transparent;
}

.Input form {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1em;
}

.Input label {
  font-size: larger;
  color: var(--color1);
}

.Output {
  width: 50vw;
  height: 50vw;
  max-height: 25em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  border-radius: 1em;
  box-shadow: 1em 0.5em 1em var(--color1);
}

.Output img {
  width: auto;
  height: 150px;
}

.Output div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Output button {
  border: 1px solid black;
}

.loaderContainer {
  /* background-image: url('/public/images/loader.png'); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* background: var(--color3); */
  z-index: 1;
}

.loaderContainer img {
  width: 80%;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.MemeCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
}

.MemeCard img {
  width: auto;
  height: 15em;
  margin: 0.5em;
}

.Favorites {
  display: flex;
}

.MemeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.InputAndOutput {
  display: flex;
}


