body,
html,
#root {
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-size: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
