body,
html,
#root {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: linear-gradient(
    150deg,
    var(--color1),
    var(--color2),
    var(--color1)
  );
  background-repeat: no-repeat;
  background-size: stretch;
  --color1: rgb(209, 240, 229);
  --color2: rgb(21, 63, 96);
  --color3: rgb(255, 104, 104);
}

/* < immediate child that matches the selector  */
body > div {
  width: 100%;
  max-width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  justify-content: center;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
}

header button {
  height: 3em;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Shrikhand';
  color: var(--color1);
}

button {
  width: 10em;
  font-family: 'Montserrat';
  font-weight: 600;
  border-radius: 0.25em;
  border: none;
  color: var(--color1);
  background-color: var(--color2);
}
